<html>

<head>
<title>offprint</title>
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="form.css") }}" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/utilities/utilities.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/container/container-min.js"></script>
</head>

<body class="yui-skin-sam">
<div id="wrapper">

	<h2>Offprint 0.3</h2>

{% block content %}
no content
{% endblock %}

	<p id="copyright">Created by Paulus Esterhazy. <a href="/about">About this site</a></p>
	
</div><!-- /wrapper -->
</body>
</html>
